<div class=commands>
  <div>
    <a href="{{commands.btn_up}}"><button class="button">Up</button></a>
    <a href="{{commands.btn_down}}"><button class="button">Down</button></a>
    <a href="{{commands.btn_left}}"><button class="button">Left</button></a>
    <a href="{{commands.btn_right}}"><button class="button">Right</button></a>
  </div>
  <div>
	<a href="{{commands.btn_a}}"><button class="button">A</button></a>
	<a href="{{commands.btn_b}}"><button class="button">B</button></a>
  </div>
  <div>
	<a href="{{commands.btn_start}}"><button class="button">Start</button></a>
	<a href="{{commands.btn_select}}"><button class="button">Selects</button></a>
  </div>
</div>
